<!DOCTYPE html>
<html lang="en" ng-app="authApp">

<head>
  <meta charset="UTF-8">
  <title>CodePen - login &amp; signup form</title>
  <link rel="stylesheet" href="../css/style1.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>

</head>

<body ng-controller="AuthController">
  <!-- partial:index.partial.html -->
  <div class="wrapper">
    <div class="title-text">
      <div class="title login">Login Form</div>
      <div class="title signup">Signup Form</div>
    </div>
    <div class="form-container">
      <div class="slide-controls">
        <input type="radio" name="slide" id="login">
        <input type="radio" name="slide" id="signup" checked>
        <label for="login" class="slide login">Login</label>
        <label for="signup" class="slide signup">Signup</label>
        <div class="slider-tab"></div>
      </div>
      <div class="form-inner">
        <form class="login" ng-submit="login()">
          <div class="field">
            <input type="email" ng-model="user.email" placeholder="Email Address" required>
          </div>
          <div class="field">
            <input type="password" ng-model="user.password" placeholder="Password" required>
          </div>
          <div class="pass-link"><a href="#">Forgot password?</a></div>
          <div class="field btn">
            <div class="btn-layer"></div>
            <input type="submit" value="Login">
          </div>
          <div class="signup-link">Not a member? <a href="#">Signup now</a></div>
        </form>
        <form action="#" class="signup" ng-submit="register()">
          <div class="field">
            <input type="email" ng-model="user.email" placeholder="Email Address" required>
          </div>
          <div class="field">
            <input type="password" ng-model="user.password" placeholder="Password" required>
          </div>
          <div class="field">
            <input type="password" placeholder="Confirm password" required>
          </div>
          <div class="field btn">
            <div class="btn-layer"></div>
            <input type="submit" value="Signup">
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- partial -->
  <script src="../js/script1.js"></script>
  <script src="../js/script_andular.js"></script>

  

</body>

</html>